$bodyBackColor: #f2f4f8;
$colorMainText: black;
$headerBackColor:#2d313d;
$colorTextSecondary: #727989;
$navBackColor:#646d81;
$colorBorder:#e0e4ed;
$colorBackPost: #fff;
$colorLink:#99a1b3;
$colorTeg:#99a1b3;
$colorItem:#4f9cd4;
$colorFooter:#f2f4f8;